<td class='list_image'>
  <%= link_to image_tag(record.photo.url(:thumb), :alt => record.alt), record %>
</td>
<td class="list_description">
  <dl>
    <dt>Photo: <%= link_to (record.title.nil? ? '' : record.title ), record %></dt>
    <dd>
      Photo Author: <%= record.user.display_name %>&nbsp;&nbsp;
      <%= render :partial => 'articles/article_totals', :locals => {:article => record} %>
    </dd>
    <dd><%= truncate(strip_tags(record.caption), :length => 200) %></dd>
  </dl>
</td>
