<% title = route_type.titleize %>
<% route_groups = routes.in_groups_of(1) if routes.length == 1 %>
<% route_groups = routes.in_groups_of(2) if routes.length > 1 %>
<% route_groups = routes.in_groups_of(3) if routes.length > 4 %>
<table class="subdued <%= "floatTable" if defined?(float) && float %>" cellspacing='0'>
  <thead>
    <tr>
       <th colspan="3" class="clickable" data-no-turbolink><%= title.pluralize %> 
	 &nbsp;&nbsp;&nbsp;
         <%= link_to "Submit a new #{title}", new_route_path(place_tag => place.id, :type => route_type), :rel => 'nofollow', :class => 'linkButton' %>
       </th>
    </tr>
  </thead>
  <tbody>
    <% if has_routes %>
      <% route_groups.each do |routes| %>
        <tr class="<%= cycle("odd", "even") %>">
          <% routes.each do |route| %>
            <%= render :partial => 'routes/thumb', :locals => {:route => route} %>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr class="odd">
        <td>No <%= title.pluralize %> Yet</td>
      </tr>
    <% end %>
  </tbody>
</table>
