<p style="text-align:right">
<%= link_to "View unanswered posts", main_app.forem_unanswered_path %>
&bull;
<%= link_to "View active topics", main_app.forem_active_topics_path %>&nbsp;&nbsp;&nbsp;
</p>

<div id='forums_container'>
  <%= render @categories %>
</div>

<div class="clear"></div><br>

<% unless user_signed_in? %>
  <div id="login">
    <h3><a>Login</a> - <a>Register</a></h3>
    <%= form_for("user", :url => main_app.user_session_path) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <br>
        <%= f.label :remember_me %>
      </div>
      <div>
        <br>
        <%= f.check_box :remember_me %>
      </div>
      <div>
        <br>
        <%= f.submit "Login" %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div><br>
<% end %>

<div id="statistics">
  <h3>Who Is Online</h3>
  <hr>
  <p>In total there are <%= total_recent %> users online :: <%= recent_users.count %> registered and <%= recent_guest.count %> guests (based on users active over the past 30 minutes)</p>
  <p>Registered users:
    <% recent_users.each do |user| %>
      <%= link_to user.display_name, main_app.user_path(user), :style => user.forem_admin ? "color:red" : "color:black"  %>
      <%= ", " unless user == recent_users.last %>
    <% end %>
  </p>
  <p>Legend: <span style="color:red">Forum Admin</span></p>
  <div class="clear"></div><br>

  <h3>Statistics</h3>
  <hr>
  Total posts <span><%= Forem::Post.count %></span>&nbsp;&nbsp;-&nbsp;&nbsp;
  Total topics <span><%= Forem::Topic.count %></span>&nbsp;&nbsp;-&nbsp;&nbsp;
  Total members <span><%= User.where("forem_first_visit_at IS NOT NULL").count %></span>&nbsp;&nbsp;-&nbsp;&nbsp;
  Our newest member <span><%= link_to newest_member.display_name, main_app.user_path(newest_member) %></span>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <h2><%= link_to t("area", :scope => "forem.admin"), admin_root_path %></h2>
  <% end %>
</footer>
<div class="clear"></div><br>
