<!DOCTYPE HTML>
<html>
<%= render :partial => 'layouts/header', :locals => {:default_title => "Summit Search", :app => "main"} %>
<body id="slideshow" class="slideshow <%= params[:controller] %> <%= params[:action] %>">
  <%= yield %>
  <%= render :partial => 'layouts/javascript', :locals => {:app => "main"}  %>
</body>
</html>
